/*Fuente*/

@font-face {
    font-family: "Poppins";
    src: url("fuente/Poppins-Regular.ttf");
}

/*Fuente*/

/*Estilos generales*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilos generales*/

/*Cabecera*/

.cabecera {
    width: 100%;
    height: 300px;
}

.cabecera img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/*Cabecera*/

/*Navegacion*/

.navbar {
    background-color: #EBE8FF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar a {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    text-decoration: none;
    color: #457580;
    font-size: 30px;
    font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
    transition: .25s ease;
    position: relative;
}

.navbar a:hover {
    background-color: #b2b0c0;
}

/*Navegacion*/

/*Articulos*/

.articulos {
    min-width: 50%;
    max-width: 60%;
    display: inline-block;
}

.articulos .articulo {
    background-color: #EBE8FF;
    margin: 20px 0 0 30px;
    padding: 20px;
    border-radius: 20px;
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
    transition: background-color .3s ease;
}

.articulos .articulo:hover {
    background-color: #d9d4fd;
}

.articulos .articulo .contenido {
    display: flex;
    align-items: center;
    justify-content: center;
}

.articulos .articulo .contenido .texto h2 {
    margin-bottom: 10px;
    font-size: 30px;
    letter-spacing: 5px;
    background-color: #45758028;
    display: inline-block;
    color: #111;
    border-radius: 5px 20px 20px 5px;
    padding: 0 0 0 10px;
    border-left: 10px solid #111;
}

.articulos .articulo .contenido .imagen img {
    width: 500px;
    height: 250px;
    object-fit: cover;
    margin-left: 30px;
    border-radius: 20px;
    border: 5px solid #457580;
    background-color: black;
}

.articulos .articulo {
    display: flex;
    flex-direction: column;
}

.articulos a {
    align-self: flex-end;
    margin-top: 20px;
}

/*Articulos*/

/*Aside*/

.aside {
    float: right;
    margin-top: 20px;
    width: 30%;
}

.aside h2 {
    width: 100%;
    background-color: #457580;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px 20px 0 0;
}

.aside form {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/*Aside*/